<div class="jumbotron">
  <h1 class="display-4">¡Bienvenido al cat&aacute;logo de superh&eacute;roes!</h1>
  <p class="lead">Este sitio est&aacute; dedicado a mostrar los personajes principales de las m&aacute;s importantes marcas de c&oacute;mics.</p>
  <hr class="my-4">
  <p>Puede seleccionar alguna de las opciones siguientes para conocer m&aacute;s sobre sus superh&eacute;roes.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['marvel']" role="button">Marvel</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['dc']" role="button">DC Comics</a>
  </p>
</div>